version: "3"

x-hz: &hz
  image: hazelcast/hazelcast:4.0.3
  volumes: 
    - .:/hz-config
  environment:
  - JAVA_OPTS="-Dhazelcast.config=/hz-config/hazelcast.xml"

x-logging_service: &x-logging_service
  build: ./services/logging_service
  env_file: logging.env

x-messages_service: &x-messages_service
  build: ./services/messages_service
  env_file: messages.env

services:
  hz1:
    <<: *hz
  hz2:
    <<: *hz
  hz3:
    <<: *hz

  mgmt:
    image: hazelcast/management-center:4.0.3
    ports:
      - 8080:8080
    environment:
      - MC_HTTP_PORT=8080  
    command: "bash -c \"./mc-conf.sh cluster add -ma hz1:5701,hz2:5701,hz3:5701 -cn dev && sleep 2 && ./start.sh -v\""
    depends_on:
      - hz1
      - hz2
      - hz3

  messages_service1:
    <<: *x-messages_service
    ports: 
      - 8183:8083
  messages_service2:
    <<: *x-messages_service
    ports: 
      - 8283:8083
  messages_service3:
    <<: *x-messages_service
    ports: 
      - 8383:8083

  logging_service1:
    <<: *x-logging_service
    environment: 
      - HAZELCAST_ADDR=hz1
    ports: 
      - 8182:8082
  logging_service2:
    <<: *x-logging_service
    environment: 
      - HAZELCAST_ADDR=hz2
    ports: 
      - 8282:8082
  logging_service3:
    <<: *x-logging_service
    environment: 
      - HAZELCAST_ADDR=hz3
    ports: 
      - 8382:8082

  facade_service:
    build: ./services/facade_service
    ports: 
      - 8081:8081
    env_file: facade.env
    depends_on:
      - init-consul
      - rmq
      - consul-server
      - consul-client

  rmq:
    image: rabbitmq:3-management
    container_name: rmq
    ports:
      - 15672:15672
      - 5672:5672

  consul-server:
    image: hashicorp/consul:1.9.3
    container_name: consul-server
    restart: always
    volumes:
      - ./server.json:/consul/config/server.json:ro
    ports:
      - "8500:8500"
      - "8600:8600/tcp"
      - "8600:8600/udp"
    command: "agent"

  consul-client:
    image: hashicorp/consul:1.9.3
    container_name: consul-client
    restart: always
    volumes:
      - ./client.json:/consul/config/client.json:ro
    command: "agent"
  
  init-consul:
    build: ./misc/init-consul
    volumes:
      - ./consul.yaml:/consul.yaml
    environment: 
      - CONSUL_HTTP_ADDR=consul-server:8500
    command: "./main -f consul.yaml"

networks:
  default:
    name: "hznet"