version: '3'

x-sub1: &sub1
  build:
    context: subscriber1
    dockerfile: ../Dockerfile
  depends_on:
    - rmq

services:
  rmq:
    image: rabbitmq:3-management
    container_name: rmq
    ports:
      - 15672:15672
      - 5672:5672
  # task 1
  consumer1:
    build:
      context: consumer1
      dockerfile: ../Dockerfile
    container_name: consumer1
    depends_on:
      - rmq
  producer1:
    build:
      context: producer1
      dockerfile: ../Dockerfile
    container_name: producer1
    depends_on:
      - rmq
  publisher1:
    build:
      context: publisher1
      dockerfile: ../Dockerfile
    container_name: publisher1
    depends_on:
      - rmq
      - subscriber11
      - subscriber12
  subscriber11:
    <<: *sub1
    container_name: subscriber11
  subscriber12:
    <<: *sub1
    container_name: subscriber12
  # task 2
  client2:
    build:
      context: client2
      dockerfile: ../Dockerfile
    container_name: client2
    depends_on:
      - rmq
  worker2:
    build:
      context: worker2
      dockerfile: ../Dockerfile
    container_name: worker2
    depends_on:
      - rmq